global
    log stdout format raw local0
    maxconn 2000

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# Config for the proxy server itself
frontend http_front
    bind 127.0.0.1:8000 # Bind to a high port so we don't need extra permissions
    default_backend app_demo

# Config for our apps we are proxying to
backend app_demo
    balance leastconn # Load balance based on least connections. If a slow app is currently serving a request, it will try the next server
    option http-server-close  # ensures HAProxy knows when connections close
    server app_slow 127.0.0.1:9000 check # Slow app
    server app_fast 127.0.0.1:9001 check # Fast app
